body {
  background-color: darkgray;
}

#problems {
  width: 500px;
  height: 300px;
}

#github {
  color: white;
  width: 130px;
  background-color: black;
}

#imperium {
  width: 130px;
  background-color: #d3e89c;
}

#github:hover, #imperium:hover {
  cursor: pointer;
}